MessageConverterApachAxisClient/MessageConverterService2.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.messageconverter.gtc.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageConverterService" targetNamespace="http://webservices.messageconverter.gtc.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.messageconverter.york.com/" schemaLocation="MessageConverterService2.xsd"/>
    </xsd:schema>
  </types> 
  <message name="parse">
    <part element="tns:parse" name="parameters"/>
  </message>
  <message name="parseResponse">
    <part element="tns:parseResponse" name="parameters"/>
  </message>
  <message name="validate">
    <part element="tns:validate" name="parameters"/>
  </message>
  <message name="validateResponse">
    <part element="tns:validateResponse" name="parameters"/>
  </message>
  <message name="generate">
    <part element="tns:generate" name="parameters"/>
  </message>
  <message name="generateResponse">
    <part element="tns:generateResponse" name="parameters"/>
  </message>
  <message name="get">
    <part element="tns:get" name="parameters"/>
  </message>
  <message name="getResponse">
    <part element="tns:getResponse" name="parameters"/>
  </message>
  <message name="update">
    <part element="tns:update" name="parameters"/>
  </message>
  <message name="updateResponse">
    <part element="tns:updateResponse" name="parameters"/>
  </message>
  <message name="delete">
    <part element="tns:delete" name="parameters"/>
  </message>
  <message name="deleteResponse">
    <part element="tns:deleteResponse" name="parameters"/>
  </message>
  <portType name="MessageConverterDelegate">
    <operation name="parse">
      <input message="tns:parse"/>
      <output message="tns:parseResponse"/>
    </operation>
    <operation name="validate">
      <input message="tns:validate"/>
      <output message="tns:validateResponse"/>
    </operation>
    <operation name="generate">
      <input message="tns:generate"/>
      <output message="tns:generateResponse"/>
    </operation>

    <operation name="get">
      <input message="tns:get"/>
      <output message="tns:getResponse"/>
    </operation>
    <operation name="update">
      <input message="tns:update"/>
      <output message="tns:updateResponse"/>
    </operation>	
    <operation name="delete">
      <input message="tns:delete"/>
      <output message="tns:deleteResponse"/>
    </operation>	
	</portType>
  <binding name="MessageConverterPortBinding" type="tns:MessageConverterDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="parse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="generate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="get">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>	
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>  
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>	  
    </operation>
	</binding>
  <service name="MessageConverterService">
    <port binding="tns:MessageConverterPortBinding" name="MessageConverterPort">
      <soap:address location="http://localhost:7007/InterbankMessageConverter/MessageConverterService"/>
    </port>
  </service>
</definitions>